<!doctype html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ .Site.Title }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <nav class="nav--desktop">
  
    <a href="#section-hero" class="js-btn" data-hover="home">home</a>
  
    <a href="#section-snippets" class="js-btn" data-hover="snippets">snippets</a>
  
    <a href="#section-features" class="js-btn" data-hover="features">features</a>
  
    <a href="#section-stats" class="js-btn" data-hover="stats">stats</a>
  
    <a href="#section-integrations" class="js-btn" data-hover="integration">integration</a>
  
    <a href="#section-customers" class="js-btn" data-hover="customers">customers</a>
  
    <a href="#section-contact" class="js-btn" data-hover="contact">contact</a>
  
</nav>
<nav class="nav--mobile">
  <div class="nav--icon"><i class="fas fa-cube"></i></div>
  <div class="mobile-list">
    <div class="centered">
      
        <a href="#section-hero" class="js-btn" data-hover="home">home</a>
      
        <a href="#section-snippets" class="js-btn" data-hover="snippets">snippets</a>
      
        <a href="#section-features" class="js-btn" data-hover="features">features</a>
      
        <a href="#section-stats" class="js-btn" data-hover="stats">stats</a>
      
        <a href="#section-integrations" class="js-btn" data-hover="integration">integration</a>
      
        <a href="#section-customers" class="js-btn" data-hover="customers">customers</a>
      
        <a href="#section-contact" class="js-btn" data-hover="contact">contact</a>
      
    </div>
  </div>
</nav>
<section class="section--hero">
  <div class="flex--horizontal">
    <div class="flex_child--horizontal aligner">
      <h1 class="font-fjalla">Oasis</h1>
      <p class="">Error tracking and monitor all your server status at all time. Prevent incidents and be efficient.</p>
      <a href="" class="cta">
        <strong>Download From</strong><br>
        <small>App Store</small>
      </a>
    </div>
    <div class="flex_child--horizontal fadeInUp">
      <img src="images/hero-phone.png"  alt="">
    </div>
  </div>
</section>
<section class="section--summary">
  <div class="flex--vertical">
    <div class="flex_child--vertical flex--horizontal summary__lists">
      
        <div class="summary__list flex--horizontal fadeIn">
          <img src="images/summary-github.png" alt="">
          <p>works on phone and all devices</p>
        </div>
      
        <div class="summary__list flex--horizontal fadeIn">
          <img src="images/summary-cpu.png" alt="">
          <p>free status page for monitoring</p>
        </div>
      
        <div class="summary__list flex--horizontal fadeIn">
          <img src="images/summary-dollar.png" alt="">
          <p>easy integrations and setup</p>
        </div>
      
    </div>
    <div class="flex_child--vertical flex--horizontal aligner fadeIn">
      <p>For some systems, latency and throughput are coupled entities. In TCP/IP, latency can also directly affect throughput. In TCP connections, the large bandwidth-delay product of high latency connections, combined with relatively small TCP window sizes on many devices, effectively causes the throughput of a high latency connection to drop sharply with latency. <br><br> This can be remedied with various techniques, such as increasing the TCP congestion window size, or more drastic solutions, such as packet coalescing, TCP acceleration, and forward error correction, all of which are commonly used for high latency satellite links.</p>
      <h2 class="font-fjalla aligner_item--bottom">Reliable Monitoring System</h2>
    </div>
  </div>
</section>
<section class="section--snippets scroll-to-reveal js-section">
  <div class="flex--horizontal">
    <div class="snippets__cards flex--vertical">
      
        <div class="snippets__card flex--horizontal">
          <p>Health check on the latest selected time range</p>
          <h3 class="font-fjalla">OK</h3>
        </div>
      
        <div class="snippets__card flex--horizontal">
          <p>The average ping up time of selected time range</p>
          <h3 class="font-fjalla">95%</h3>
        </div>
      
        <div class="snippets__card flex--horizontal">
          <p>Average latency in the selected time range</p>
          <h3 class="font-fjalla">19ms</h3>
        </div>
      
        <div class="snippets__card flex--horizontal">
          <p>Shows the average packet lost in selected time range</p>
          <h3 class="font-fjalla">0.1</h3>
        </div>
      
        <div class="snippets__card flex--horizontal">
          <p>Error rate of bit transmission in selected time range</p>
          <h3 class="font-fjalla">0.02%</h3>
        </div>
      
    </div>
    <div class="snippets__content animated fadeInDown">
      <h3 class="font-fjalla snippets__title">Easy tracking of all Your stats</h3>
      <p class="snippets__description">Throughput is controlled by available bandwidth, as well as the available signal-to-noise ratio and hardware limitations. Throughput for the purpose of this article will be understood to be measured from the arrival of the first bit of data at the receiver, to decouple the concept of throughput from the concept of latency. <br><br> Choice of an appropriate time window will often dominate calculations of throughput.</p>
    </div>
  </div>
</section>
<section class="section--features scroll-to-reveal js-section">
  <div class="section__title">
    <h3 class="font-fjalla">Features of Oasis</h3>
    <p>TCP acceleration converts the TCP packets into a stream that is similar to UDP. Because of this, the TCP acceleration software must provide its own mechanisms to ensure the reliability of the link.</p>
  </div>
  <div class="flex--horizontal">
    <div class="features__left aligner flex--vertical">
      
        <div class="flex--vertical fadeInLeft fadeInLeft--0">
          <object type="image/svg+xml" data="images/features-circle.svg"></object>
          <p>Performance issues such as throughput and end-to-end delay are also addressed.</p>
        </div>
      
        <div class="flex--vertical fadeInLeft fadeInLeft--1">
          <object type="image/svg+xml" data="images/features-polygon.svg"></object>
          <p>Many systems can be characterized as dominated either by throughput limitations or by latency limitations in terms of end-user utility or experience.</p>
        </div>
      
        <div class="flex--vertical fadeInLeft fadeInLeft--2">
          <object type="image/svg+xml" data="images/features-rec.svg"></object>
          <p>In some cases, hard limits such as the speed of light present unique problems to such systems and nothing can be done to correct this.</p>
        </div>
      
    </div>
    <img class="features__image" src="images/features-image.png" alt="">
    <div class="features__right aligner flex--vertical">
      
        <div class="flex--vertical fadeInRight fadeInRight--0">
          <object type="image/svg+xml" data="images/features-star.svg"></object>
          <p>Other systems allow for significant balancing and optimization for best user experience.</p>
        </div>
      
        <div class="flex--vertical fadeInRight fadeInRight--1">
          <object type="image/svg+xml" data="images/features-triangle.svg"></object>
          <p>A telecom satellite in geosynchronous orbit imposes a path length of at least 71000 km between transmitter and receiver.</p>
        </div>
      
        <div class="flex--vertical fadeInRight fadeInRight--2">
          <object type="image/svg+xml" data="images/features-rec.svg"></object>
          <p>This delay can be very noticeable and affects satellite phone service regardless of available throughput capacity.</p>
        </div>
      
    </div>
  </div>
</section>
<section class="section--stats scroll-to-reveal js-section">
  <div class="section__title">
    <h3 class="font-fjalla">Stats on Oasis</h3>
    <p>These long path length considerations are exacerbated when communicating with space probes and other long-range targets beyond Earth's atmosphere.</p>
  </div>
  
    <div class="stats__block">
      <div class="flex--horizontal">
        <h5 class="stats__name">A/B Split</h5>
        <h4 class="font-fjalla stats__result">A/B</h4>
      </div>
      <div class="stats">
        <canvas id="stats-0" ></canvas>
      </div>
    </div>
  
    <div class="stats__block">
      <div class="flex--horizontal">
        <h5 class="stats__name">Crash Rate</h5>
        <h4 class="font-fjalla stats__result">89%</h4>
      </div>
      <div class="stats">
        <canvas id="stats-1" ></canvas>
      </div>
    </div>
  
    <div class="stats__block">
      <div class="flex--horizontal">
        <h5 class="stats__name">Error reporting API - Uptime</h5>
        <h4 class="font-fjalla stats__result">100</h4>
      </div>
      <div class="stats">
        <canvas id="stats-2" ></canvas>
      </div>
    </div>
  
    <div class="stats__block">
      <div class="flex--horizontal">
        <h5 class="stats__name">General API</h5>
        <h4 class="font-fjalla stats__result">81rps</h4>
      </div>
      <div class="stats">
        <canvas id="stats-3" ></canvas>
      </div>
    </div>
  
    <div class="stats__block">
      <div class="flex--horizontal">
        <h5 class="stats__name">Data Access API</h5>
        <h4 class="font-fjalla stats__result">93%</h4>
      </div>
      <div class="stats">
        <canvas id="stats-4" ></canvas>
      </div>
    </div>
  
    <div class="stats__block">
      <div class="flex--horizontal">
        <h5 class="stats__name">Average Latency</h5>
        <h4 class="font-fjalla stats__result">1.98ms</h4>
      </div>
      <div class="stats">
        <canvas id="stats-5" ></canvas>
      </div>
    </div>
  
</section>
<section class="section--integrations js-section">
  <div class="section__title">
    <h3 class="font-fjalla">Trusted by</h3>
  </div>
  <div class="flex--horizontal">
    
      <img src="images/logos/1.svg" alt="airbnb" class="logo">
    
      <img src="images/logos/2.svg" alt="twitter" class="logo">
    
      <img src="images/logos/3.svg" alt="eventbrite" class="logo">
    
      <img src="images/logos/4.svg" alt="netflix" class="logo">
    
      <img src="images/logos/5.svg" alt="google" class="logo">
    
      <img src="images/logos/6.svg" alt="spotify" class="logo">
    
  </div>
</section>
<section class="section--customers js-section">
  <div class="section__container">
    <h4 class="title">What customers are saying</h4>
    <div class="slide__container">
      
        <div>
          <div class="flex--horizontal slide">
            <div class="slide__content">
              <h4 class="font-fjalla slide-1">Oasis provides a robust synopsis of our service statuses</h4>
              <p class="slide-1">Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            </div>
            <div class="slide__image slide-1">
              <img src="images/customer-1.png" alt="slide image" >
            </div>
          </div>
        </div>
      
        <div>
          <div class="flex--horizontal slide">
            <div class="slide__content">
              <h4 class="font-fjalla slide-2">Oasis has brought clarity to our architecture</h4>
              <p class="slide-2">Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            </div>
            <div class="slide__image slide-2">
              <img src="images/customer-2.png" alt="slide image" >
            </div>
          </div>
        </div>
      
    </div>
  </div>
</section>
<section class="section--contact js-section">
  <div class="section__title">
    <h3 class="font-fjalla">Ready to get started?</h3>
    <p>Sign up here and our representative will contact you shortly.</p>
    <div class="form-group">
      <input type="text" class="input" placeholder="Your Email">
      <button class="input-button">Sign Up</button>
    </div>
  </div>
</section>

    {{ partial "javascript.html" . }}
  </body>
</html>
