<link rel="shortcut icon" type="image/png" href="{{ "images/favicon.png" | absURL }}" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/tiny-slider.css">
{{- if .Site.IsServer -}}
{{- $coreCssUrl := printf "css/%s" (index .Site.Data.assetHashes "core.css") | absURL }}
<link rel="stylesheet" href="{{ $coreCssUrl }}" />
{{- else }}
<link rel="stylesheet" href="{{ "css/core.css" }}" />
{{- end }}
