<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
{{- if .Site.IsServer -}}
{{- $oasisJsUrl := printf "js/%s" (index .Site.Data.assetHashes "oasis.js") | absURL }}
<script src="{{ $oasisJsUrl }}"></script>
{{- else }}
<script src="{{ "js/oasis.js" }}"></script>
{{- end }}
{{- if .Site.IsServer -}}
{{- $statsJsUrl := printf "js/%s" (index .Site.Data.assetHashes "stats.js") | absURL }}
<script src="{{ $statsJsUrl }}"></script>
{{- else }}
<script src="{{ "js/stats.js"}}"></script>
{{- end }}