section {
  max-width: 960px;
  margin: 0 auto;
}
.section__title {
  margin: 0 auto 3rem auto;
  width: 80%;
  text-align: center;
  h3 {
    margin-bottom: 1.5rem;
  }
}
.section--hero {
  max-width: 760px;
  position: relative;
  margin-top: 4rem;
  .cta {
    margin-top: 1rem;
    small {
      vertical-align: top;
    }
    &:hover {
      transform: translate3d(0px, -3px, 0px);
    }
  }
  .flex_child--horizontal {
    &:first-of-type {
      flex: 1.2;
      flex-direction: column;
      padding-right: 4rem;
      padding-bottom: 5.5rem;
    }
    &:last-of-type {
      flex: 1;
      z-index: -1;
    }
  }
}
.section--summary {
  margin-top: -4rem;
  background-color: white;
  color: $gray-1;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: relative;
  &:after {
    content: "";
    left: -1440px;
    background: url(/images/lines.svg) repeat-x;
    height: 406px;
    width: calc(1440px * 3);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    animation: infiniteStats 120s linear infinite;
  }
  .summary__lists {
    > * {
      flex: 1;
    }
  }
  .summary__list {
    img {
      align-self: flex-start;
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }
    &:first-of-type {
      padding-right: 1rem;
    }
    &:nth-of-type(2) {
      border-right: 1px solid $purple-1;
      border-left: 1px solid $purple-1;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &:last-of-type {
      padding-left: 1rem;
    }
  }
  .flex_child--vertical {
    padding: 2rem 2.4rem;
    &:last-of-type {
      border-top: 1px solid $purple-1;
      p {
        flex: 2;
      }
      h2 {
        flex: 1;
        text-align: right;
        align-content: flex-end;
        padding-left: 1rem;
      }
    }
  }
}
.section--snippets {
  opacity: 0;
  max-width: 760px;
  margin: 4rem auto 8rem auto;
  padding-top: 14rem;
  position: relative;
  .snippets__cards {
    transform: translate3d(-2rem, -8rem, 0);
    align-self: flex-start;
    flex: 1;
  }
  .snippets__card {
    border: 1px solid $purple-5;
    border-radius: 3px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: 0.3s;
    > p {
      flex: 1;
      margin-right: 1rem;
    }
    &:hover {
      transform: translate3d(-10px, 0px, 0px);
    }
  }
  .snippets__title {
    margin-bottom: 1rem;
  }
  .snippets__content {
    background-color: $purple-5;
    padding: 2rem;
    flex: 1;
    align-self: flex-start;
  }
  &:before {
    position: absolute;
    background: radial-gradient(
      #5d4688 0%,
      unquote("#efb5dd21") 30%,
      #27253f 70%
    );
    content: "";
    top: 30px;
    right: -40px;
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  &:after {
    position: absolute;
    background: url(/images/info.png) no-repeat;
    content: "";
    top: 100px;
    right: 30px;
    height: 200px;
    width: 60px;
    background-size: contain;
  }
}

.section--features {
  @for $i from 0 to 3 {
    .fadeInRight--#{$i},
    .fadeInLeft--#{$i} {
      animation-delay: $i * 500ms;
    }
  }
  opacity: 0;
  > .flex--horizontal {
    justify-content: center;
  }
  .features__left,
  .features__right {
    width: 25%;
    font-size: 0.9em;
    object {
      width: 30px;
      height: 30px;
      margin-bottom: 0.5rem;
    }
  }
  .features__left {
    text-align: right;
    padding-right: 2rem;
    > .flex--vertical {
      align-items: flex-end;
      margin: 2rem 0;
      opacity: 0;
    }
  }
  .features__right {
    text-align: left;
    padding-left: 2rem;
    > .flex--vertical {
      align-items: flex-start;
      margin: 2rem 0;
      opacity: 0;
    }
  }
  .features__image {
    align-self: flex-start;
    max-width: 340px;
  }
}

.section--stats {
  opacity: 0;
  margin: 8rem auto;
  .stats__block {
    border: 1px solid $purple-5;
    border-radius: 3px;
    padding: 1rem 1rem 0 1rem;
    height: 160px;
    margin-bottom: 1rem;
    &:hover {
      background-color: $purple-4;
      color: $purple-10;
      transition: 1s;
      .stats__name {
        color: white;
        font-weight: 600;
      }
    }
  }
  .stats__name {
    color: $purple-4;
    font-weight: 400;
    flex-grow: 1;
  }
  .stats__result {
  }
  .stats {
    position: relative;
    height: 100px;
    margin-top: 0.8rem;
  }
}

.section--integrations {
  text-align: center;
  padding-bottom: 3rem;
}

.section--customers {
  margin: 0;
  padding: 5rem 0;
  background-color: $purple-2;
  max-width: none;
  .flex--horizontal {
    width: 90%;
    margin: auto;
    justify-content: center;
  }
  > .section__container {
    max-width: 960px;
    margin: auto;
  }
  .title {
    color: $purple-11;
    text-align: center;
    font-weight: 100;
    margin-bottom: 2rem;
  }
}

.section--contact {
  background: url("/images/contact-bg.png") repeat;
  padding: 8rem 3rem;
  margin: 0;
  max-width: none;
  border-top: 0.5rem solid $purple-5;
  .section__title {
    width: auto;
  }
}
